<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="EbayFetcher.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="EbayFetcher.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
    <userSettings>
        <EbayFetcher.Properties.Settings>
            <setting name="appId_prod" serializeAs="String">
                <value>MartinLp-COIN-PRD-e69e2c47f-e1373e76</value>
            </setting>
            <setting name="devId_prod" serializeAs="String">
                <value>1e4ad515-31f3-4ca0-a83f-51ffef6afc90</value>
            </setting>
            <setting name="certId_prod" serializeAs="String">
                <value>PRD-69e2c47f15e1-7f88-4483-9030-8406</value>
            </setting>
            <setting name="token_prod" serializeAs="String">
                <value>AgAAAA**AQAAAA**aAAAAA**EvEGWQ**nY+sHZ2PrBmdj6wVnY+sEZ2PrA2dj6ACkYunCpCFowSdj6x9nY+seQ**9rYDAA**AAMAAA**f0DtOMfE9IasnUn0kpkDKE1ECcJGEDBtSTQQZEHI8csQ4FoTQ7jvTy2RDgE0zG5I8dJochUfcvaUWofSxGZYofESmD80vx8FmIZlBTZrtMlB0Q/GBnmejXsqTNJe6RYSn9AGSMBjrWBQOEaNlDBSAZvlshjSN0+On5vEKs5OOuddp0QpWy8qX75Fbg/HNYCOi/No1guwFIgCxHu0rR9jQ0YY1BAmvmw2WZ4IrRK0zisDdIKh4PicnjAfBP7R4OX8bEODaU0Pv4mPFSu5XUBc2KrLZK6Ny4owBQAe5DLLUoNI4haLxAQphbCQbttTqiNREevOPSezF38H7twIyOawuYPAMWAsl4FRxF7OXqwRaFYP/5stL0Ay4m4FSyLaR03OWqqVZeLhOcHJROoY67P75tw7W5QoGLfUXHvaq1FOQ3yZhBdDLwzYcpWOUT5dVDDNHMBMPiymX85VOEN4qrtZs3MeuPiMvUZ/A2Ka+CytN6fEYNLDwQxVoxSt9lm88wEEmMbNjVQZCtUCk64S/sKAjEQ7aYDOLvU8xMXZa3Nj5gXlR3UKLKnR/MiHF8ut2OPqGxyP22kvyov/LM6IyU84e0zuBMGLIOqlTWrW4wmuEHPHwNKmLdhihcLWX0VYXZZEI0Z09NMGCGFbhRvy939vQDa2lGtL6/NY7q9kSPCEgYtbKuQwOGDpx+D2eM3H/4msEwtdnnOVTZnG951gdlAQPjzvURnSdCZ18ccvRQ6JROM3eY186D6MZQmIVWlw4P4o</value>
            </setting>
            <setting name="appId_sandbox" serializeAs="String">
                <value>MartinLp-COIN-SBX-2090fc79c-348d53e3</value>
            </setting>
            <setting name="devId_sandbox" serializeAs="String">
                <value>1e4ad515-31f3-4ca0-a83f-51ffef6afc90</value>
            </setting>
            <setting name="certId_sandbox" serializeAs="String">
                <value>PRD-69e2c47f15e1-7f88-4483-9030-8406</value>
            </setting>
            <setting name="token_sandbox" serializeAs="String">
                <value>AgAAAA**AQAAAA**aAAAAA**0/4GWQ**nY+sHZ2PrBmdj6wVnY+sEZ2PrA2dj6wFk4GlAJeEowSdj6x9nY+seQ**qC0EAA**AAMAAA**ppggXK5HtvVSu70qVkF9dmUAk2530IjRZshROTBhVE8R0cw/yMld9mdQ33Pil0+jf4Lc7yi7E0e5YOIGYZO4IOUrJM8axAAGaekYFTEMc0AcjgR9/nOliKpRndsS+vrYkdxCp1fq1tMXWYYuieyoWV0q7W8pu0My33KqMuj13l3WWmQ++8/tk5qism7H/Qrws+IsHMkVfuOOtXq3XVAuBzlj0Sv4kGntslIJtQZcoiwF7eBMPvjqF9jYqELYTpuQUB5T6s9zvLDUDxjjsT77vU/PtFyGhSv3xNnhwzxnUxPKbnY4tUJ5g+WMIq+FdkO9O2VRQAV1zXcKTh+PleDjukpS1NOCpARmch9DU7XBapQoeIj1GFe/79P/8oSG3ILbvp20rr6B8SMVN1L98awbSxH+LKlLWEEGzmHgU0ebJBqd+eFRZKnwP/AvIkurC1YMbvFzNMo0+eJQkaFwmFHMME7oTQL9HrWkQa86tMc/x1X+fVHYciaf6geUF/9thlF/NPDl+ASP4MUEHzLxGN/5N2u9g3ougAOw3+Iq/sn1zJtPr4Lyy9lYDhQv+izVDPVMEknLw9h36qe4LgtofX/3BVla1ULs5PL21ASaLRVz17rklk8BnuMJm+Uub1W/Ys16Xt1OlMwMgi3wIomRWJE0vDKFidrZ6gy2YppxzwmzrndP33yHroNof89xtjtqVE7p8p1XPnoVrN7gvVWssVeCErRNVSaf7DFl7YGGlZH0pRwypclE25x4vxfOxtHISApe</value>
            </setting>
            <setting name="endPoint_prod" serializeAs="String">
                <value>https://api.ebay.com/wsapi</value>
            </setting>
            <setting name="endPoint_sandbox" serializeAs="String">
                <value>https://api.sandbox.ebay.com/wsapi</value>
            </setting>
            <setting name="idVirtualReality_prod" serializeAs="String">
                <value>183067</value>
            </setting>
            <setting name="idVirtualReality_sandbox" serializeAs="String">
                <value>183067</value>
            </setting>
            <setting name="urlFindings_prod" serializeAs="String">
                <value>https://svcs.ebay.com/services/search/FindingService/v1</value>
            </setting>
            <setting name="urlFindings_sandbox" serializeAs="String">
                <value>http://svcs.sandbox.ebay.com/services/search/FindingService/v1</value>
            </setting>
        </EbayFetcher.Properties.Settings>
    </userSettings>
    <applicationSettings>
        <EbayFetcher.Properties.Settings>
            <setting name="EbayFetcher_com_ebay_developer_EbayService_eBayAPIInterfaceService"
                serializeAs="String">
                <value>https://api.ebay.com/wsapi</value>
            </setting>
            <setting name="EbayFetcher_com_ebay_developer_FindingsService_FindingService"
                serializeAs="String">
                <value>https://svcs.ebay.com/services/search/FindingService/v1</value>
            </setting>
        </EbayFetcher.Properties.Settings>
    </applicationSettings>
</configuration>